Flows/Core/ERS_Core.json
[
    {
        "id": "a7a28dcbcb6cfc4a",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "77c3c0b976c12fb4",
        "type": "tab",
        "label": "In-Game Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "46b5fdb2e4905102",
        "type": "tab",
        "label": "ERS_Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a635245d1d7b19a",
        "type": "group",
        "z": "a7a28dcbcb6cfc4a",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "e8d2e61e386647c8",
            "f371cdbbe81e3876",
            "972e87fc83299cbc",
            "9825a13baed8c3fb",
            "a51efdded34de5bf",
            "c4a7f7a6f98d05cf"
        ],
        "x": 34,
        "y": 79,
        "w": 302,
        "h": 202
    },
    {
        "id": "fe830464edf04655",
        "type": "group",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "e91bb31a438d275b",
            "6c0b0a39d7d9c025"
        ],
        "x": 374,
        "y": 39,
        "w": 312,
        "h": 82
    },
    {
        "id": "7963fc80be25b354",
        "type": "group",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "2bb63a0d132537e2",
            "dc0aa973e62002db",
            "00d4b43b55903720",
            "1aae219bc5d68362",
            "6be3f94b5023fed5",
            "d5ce6179247fb6d4",
            "f7040b721a435aa6",
            "47f17285e0b948d5",
            "f41cc5ada430a03e",
            "2934cf85318abc7f",
            "cf0e7850cb00dfe6",
            "40d9373120e1c5a9",
            "c50489a8ac6327ef",
            "cf40039386448a19"
        ],
        "x": 34,
        "y": 319,
        "w": 672,
        "h": 202
    },
    {
        "id": "60d7a2df45d3ca32",
        "type": "group",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "d05591cd0b56c203",
            "0e78db2a30d9326e",
            "2f882acb1a5f0168",
            "4595b67f747fb777",
            "5f5dd91fb0d98c9c",
            "2a157970687c13fc",
            "8ca101eedc65f388",
            "27e33d76b67c0c72",
            "a213c34292093199",
            "c86051aa14c3f6cf",
            "b641a26c2cdea311",
            "a851ddd5a82b5c97",
            "fbb76cff413cca97",
            "f5eacf735a62ea49",
            "c0381109cd0de14f",
            "c3c11b9d940b507c"
        ],
        "x": 34,
        "y": 559,
        "w": 812,
        "h": 342
    },
    {
        "id": "a8f5894f9a6f4628",
        "type": "group",
        "z": "77c3c0b976c12fb4",
        "name": "Game Time",
        "style": {
            "label": true
        },
        "nodes": [
            "3eb9d58248ac192e",
            "0a45d77e3fdceb2c",
            "d1d33fc5a3a6f764",
            "f370327d143131af",
            "1895b1bff4f5ea18",
            "8478580a26db84ed",
            "f1dead188fc46e1f"
        ],
        "x": 74,
        "y": 79,
        "w": 792,
        "h": 122
    },
    {
        "id": "6fe73218c562971c",
        "type": "group",
        "z": "77c3c0b976c12fb4",
        "name": "Dynamic Content",
        "style": {
            "label": true
        },
        "nodes": [
            "e3044aad6c1913f3",
            "d9289818e2cfabf6",
            "b1df2f6a3f3dbcd7",
            "950bb82e336f21e9",
            "a6fcbf071d9dfc09",
            "18a40a2047361f06",
            "70ab8d88810e3176",
            "aa8cf0b46180bacc",
            "6ad44ee2b7da5173",
            "6f9b5ffd4ed16659",
            "ea0b18db2b1b4290",
            "7cc54138b5e5f81b",
            "05d159debf306c85",
            "5e2069b17f3f7b54",
            "0e382e2f59d9cc6d",
            "5473b2666b98035d",
            "656f5141f338c127",
            "064e0f743f1134e2",
            "46267313b989836d",
            "cf0d4685a1049fca",
            "b676a20af598d1c9",
            "95078f756e6a46fd",
            "e3fea949085d8937",
            "91abbf9cc31fc232",
            "134bace5f7a8ec13",
            "e9374b61d3a58eb9",
            "0b84b5020ab1e7ac",
            "e40494f47fb28c91",
            "16bf9dac159ff1cb"
        ],
        "x": 114,
        "y": 399,
        "w": 1292,
        "h": 562
    },
    {
        "id": "e2481daedaefe458",
        "type": "group",
        "z": "77c3c0b976c12fb4",
        "name": "Send to display",
        "style": {
            "label": true
        },
        "nodes": [
            "29fcc25b7cce5bed",
            "3b01e473aadffa16",
            "acd825f501e439a4",
            "1239fd86e1112e48",
            "ce6fabcd9792a1dc"
        ],
        "x": 914,
        "y": 79,
        "w": 492,
        "h": 122
    },
    {
        "id": "f08ba3d0ec182a89",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "a38c3d325d960343",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77085fa9048e360b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b9a603a9.4c8c9",
        "type": "ui_tab",
        "name": "Logging",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f2947c85d1fbc50",
        "type": "ui_tab",
        "name": "UPC Emulators",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ad0d7f51f9ebbad1",
        "type": "ui_tab",
        "name": "UPC Devices",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d69253c32fa39861",
        "type": "ui_spacer",
        "z": "a7a28dcbcb6cfc4a",
        "name": "spacer",
        "group": "f08ba3d0ec182a89",
        "order": 6,
        "width": "6",
        "height": "1"
    },
    {
        "id": "b977110e3978794d",
        "type": "ui_group",
        "name": "Default",
        "tab": "b9a603a9.4c8c9",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "947951ea1f0569ac",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7f709df3588dcc39",
        "type": "ui_group",
        "name": "In-Game Display",
        "tab": "a38c3d325d960343",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69c378e67b30ae44",
        "type": "ui_group",
        "name": "Hall Sensor 01",
        "tab": "7f2947c85d1fbc50",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c7b8d885c732a2b",
        "type": "ui_group",
        "name": "ESRS-GC",
        "tab": "7d66f574.b154cc",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10df1f3914558b70",
        "type": "ui_group",
        "name": "Devices",
        "tab": "ad0d7f51f9ebbad1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2bb63a0d132537e2",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 5,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "d5ce6179247fb6d4",
                "8b3c0dc2f4ab5c17"
            ]
        ]
    },
    {
        "id": "dc0aa973e62002db",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 3,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-stop",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "f7040b721a435aa6"
            ]
        ]
    },
    {
        "id": "00d4b43b55903720",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "47f17285e0b948d5"
            ]
        ]
    },
    {
        "id": "1aae219bc5d68362",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "f41cc5ada430a03e"
            ]
        ]
    },
    {
        "id": "6be3f94b5023fed5",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + $millis() - $flowContext('startTime')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "cf0e7850cb00dfe6"
            ]
        ]
    },
    {
        "id": "d5ce6179247fb6d4",
        "type": "switch",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "1aae219bc5d68362"
            ]
        ]
    },
    {
        "id": "f7040b721a435aa6",
        "type": "switch",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "6be3f94b5023fed5"
            ]
        ]
    },
    {
        "id": "47f17285e0b948d5",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "gameDuration",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "timeElapsed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "c50489a8ac6327ef"
            ]
        ]
    },
    {
        "id": "e91bb31a438d275b",
        "type": "function",
        "z": "a7a28dcbcb6cfc4a",
        "g": "fe830464edf04655",
        "name": "Initialize Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"gameDuration\", 3600000);\nglobal.set(\"elapsedTimeDelta\", 0);\nglobal.set(\"timeElapsed\", 0);\nglobal.set(\"timeRemaining\", 3600000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "affe6ad93365615a"
            ]
        ]
    },
    {
        "id": "6c0b0a39d7d9c025",
        "type": "link in",
        "z": "a7a28dcbcb6cfc4a",
        "g": "fe830464edf04655",
        "name": "",
        "links": [
            "972e87fc83299cbc"
        ],
        "x": 415,
        "y": 80,
        "wires": [
            [
                "e91bb31a438d275b"
            ]
        ]
    },
    {
        "id": "f41cc5ada430a03e",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "On Game Start",
        "links": [
            "65781ff6.32997",
            "82b51bd97bd88d3c",
            "4595b67f747fb777",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    },
    {
        "id": "2934cf85318abc7f",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "cf0e7850cb00dfe6",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "On Game Stop",
        "links": [
            "b6c64fbb.744e7",
            "82b51bd97bd88d3c",
            "4595b67f747fb777",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "40d9373120e1c5a9",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "On Game Stop",
        "info": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "c50489a8ac6327ef",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "On Game Reset",
        "links": [
            "b72df54c.54dbc8",
            "f476429e.39f778",
            "fad501df9730e3cd",
            "5051fca6f0fc24ce",
            "771ef7315cbeaed4",
            "6aa55bc0969c2645",
            "82b51bd97bd88d3c",
            "27a13ceb38ba3113",
            "b24d6dd76f244e1c",
            "561c4af966865974",
            "4595b67f747fb777",
            "fde61d47216f1287",
            "35e08daeabc5fa71",
            "af0afab53c87e0ad",
            "40d25260ba98c7df",
            "689f8b8e61d5ce4b",
            "2b373cf7867a5518",
            "a73bab5de5dbaa72"
        ],
        "x": 495,
        "y": 480,
        "wires": []
    },
    {
        "id": "889d9aa32852c7f4",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "e8d2e61e386647c8",
        "type": "inject",
        "z": "a7a28dcbcb6cfc4a",
        "g": "9a635245d1d7b19a",
        "name": "Every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "9825a13baed8c3fb"
            ]
        ]
    },
    {
        "id": "f371cdbbe81e3876",
        "type": "inject",
        "z": "a7a28dcbcb6cfc4a",
        "g": "9a635245d1d7b19a",
        "name": "On Initialization",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialize",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "972e87fc83299cbc"
            ]
        ]
    },
    {
        "id": "972e87fc83299cbc",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "9a635245d1d7b19a",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "6c0b0a39d7d9c025",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "82b51bd97bd88d3c",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "eb7d0ddb30a55c18",
            "cae864a2b6640d37",
            "40d25260ba98c7df",
            "689f8b8e61d5ce4b",
            "2b373cf7867a5518",
            "a73bab5de5dbaa72"
        ],
        "x": 295,
        "y": 120,
        "wires": []
    },
    {
        "id": "9825a13baed8c3fb",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "9a635245d1d7b19a",
        "name": "On Tick",
        "mode": "link",
        "links": [
            "4595b67f747fb777",
            "0ebb81d8a4618708",
            "518590794501de1b",
            "a534313d858cdb4b"
        ],
        "x": 295,
        "y": 180,
        "wires": []
    },
    {
        "id": "a51efdded34de5bf",
        "type": "ui_ui_control",
        "z": "a7a28dcbcb6cfc4a",
        "g": "9a635245d1d7b19a",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "c4a7f7a6f98d05cf"
            ]
        ]
    },
    {
        "id": "c4a7f7a6f98d05cf",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "9a635245d1d7b19a",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 295,
        "y": 240,
        "wires": []
    },
    {
        "id": "3794d4a4ce17b111",
        "type": "ui_template",
        "z": "a7a28dcbcb6cfc4a",
        "group": "f08ba3d0ec182a89",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1000,
        "y": 140,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "67fd160422724afb",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Dashboard Styling",
        "info": "",
        "x": 990,
        "y": 101,
        "wires": []
    },
    {
        "id": "c181cfa50f474bbf",
        "type": "catch",
        "z": "a7a28dcbcb6cfc4a",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 960,
        "y": 260,
        "wires": [
            [
                "2822ec8b955ee1e4"
            ]
        ]
    },
    {
        "id": "2822ec8b955ee1e4",
        "type": "debug",
        "z": "a7a28dcbcb6cfc4a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "d1e0917184ecf7f1",
        "type": "complete",
        "z": "a7a28dcbcb6cfc4a",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "2822ec8b955ee1e4"
            ]
        ]
    },
    {
        "id": "4a9646504c1a3767",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Exception Handling",
        "info": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "affe6ad93365615a",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "name": "Init Global Vars",
        "mode": "link",
        "links": [
            "4595b67f747fb777"
        ],
        "x": 745,
        "y": 120,
        "wires": []
    },
    {
        "id": "cf40039386448a19",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "g": "7963fc80be25b354",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "d05591cd0b56c203",
        "type": "function",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "Update Timer",
        "func": "// Retrieve current state of global timer variables\nvar gameState = global.get(\"gameState\") || 'playing';\nvar gameDuration = global.get(\"gameDuration\") || 0;\nvar elapsedTimeDelta = global.get(\"elapsedTimeDelta\") || 0;\n// Total time elapsed is duration since the start button was last pressed, + any adjustments\nvar timeElapsed = global.get(\"timeElapsed\") || 0;\nvar startTime = flow.get(\"startTime\") || 0;\n\n// If the game is active, update the time elapsed\nif(gameState == \"playing\") {\n\n    // Total time elapsed is duration since the start button was last pressed, + any adjustments\n    timeElapsed = (Date.now() - startTime);\n\n    // Update the global variable\n    global.set(\"timeElapsed\", timeElapsed);\n}\n\n// We update these even if gameState is not playing, to allow for\n// adjustments to gameDuration or timeElapsed made when game is stopped\nvar timeElapsedAfterAdjustments = timeElapsed += elapsedTimeDelta;\nvar timeRemaining = gameDuration - timeElapsed;\n\nglobal.set(\"timeRemaining\", timeRemaining);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: timeRemaining });\n\n// Update the msg to carry string\nmsg.timeElapsed = timeElapsedAfterAdjustments;        \nmsg.timeRemaining = timeRemaining;\n\n// Only need to update UI if timeRemaining has changed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 600,
        "wires": [
            [
                "2f882acb1a5f0168"
            ]
        ]
    },
    {
        "id": "0e78db2a30d9326e",
        "type": "ui_template",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "group": "f08ba3d0ec182a89",
        "name": "Time Remaining",
        "order": 2,
        "width": "6",
        "height": "3",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.formattedTimeRemaining}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2f882acb1a5f0168",
        "type": "function",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "Format Time for Dashboard Display",
        "func": "// Create formattedTime in hh:mm:ss\nvar t = msg.timeElapsed / 1000; //ms\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\nmsg.formattedTimeElapsed = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\nvar t2 = msg.timeRemaining / 1000; //ms\nvar h2 = Math.floor(t2 / 3600);\nvar m2 = Math.floor(t2 % 3600 / 60);\nvar s2 = Math.floor(t2 % 3600 % 60);\nmsg.formattedTimeRemaining = (\"0\" + h2).slice(-2) + \":\" + (\"0\" + m2).slice(-2) + \":\" + (\"0\" + s2).slice(-2);\n\nvar t3 = global.get(\"gameDuration\") / 1000; //ms\nvar h3 = Math.floor(t3 / 3600);\nvar m3 = Math.floor(t3 % 3600 / 60);\nvar s3 = Math.floor(t3 % 3600 % 60);\nmsg.formattedGameDuration = (\"0\" + h3).slice(-2) + \":\" + (\"0\" + m3).slice(-2) + \":\" + (\"0\" + s3).slice(-2);\n\n// Set timeColour depending on current gamestate and time remaining\nvar gameState = global.get(\"gameState\");\nif (gameState == \"playing\") {\n    if (msg.timeRemaining < 60000) { msg.timeColour = \"red\"; }\n    else { msg.timeColour = \"green\"; }\n}\nelse { msg.timeColour = \"white\"; }\n\n// Update the editor node\nnode.status({ fill: msg.timeColour, shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "0e78db2a30d9326e",
                "c86051aa14c3f6cf",
                "c0381109cd0de14f"
            ]
        ]
    },
    {
        "id": "4595b67f747fb777",
        "type": "link in",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "UpdateTimerLinkIn",
        "links": [
            "a213c34292093199",
            "c50489a8ac6327ef",
            "cf0e7850cb00dfe6",
            "9825a13baed8c3fb",
            "affe6ad93365615a",
            "f41cc5ada430a03e"
        ],
        "x": 85,
        "y": 600,
        "wires": [
            [
                "d05591cd0b56c203"
            ]
        ]
    },
    {
        "id": "5f5dd91fb0d98c9c",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 9,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "8ca101eedc65f388"
            ]
        ]
    },
    {
        "id": "2a157970687c13fc",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "27e33d76b67c0c72"
            ]
        ]
    },
    {
        "id": "8ca101eedc65f388",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "a213c34292093199"
            ]
        ]
    },
    {
        "id": "27e33d76b67c0c72",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 780,
        "wires": [
            [
                "a213c34292093199"
            ]
        ]
    },
    {
        "id": "a213c34292093199",
        "type": "link out",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "4595b67f747fb777"
        ],
        "x": 535,
        "y": 800,
        "wires": []
    },
    {
        "id": "c86051aa14c3f6cf",
        "type": "ui_text",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "group": "f08ba3d0ec182a89",
        "order": 8,
        "width": "2",
        "height": "1",
        "name": "Game Duration",
        "label": "Duration",
        "format": "{{msg.formattedGameDuration}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "a851ddd5a82b5c97",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 12,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "b641a26c2cdea311"
            ]
        ]
    },
    {
        "id": "f5eacf735a62ea49",
        "type": "ui_button",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "fbb76cff413cca97"
            ]
        ]
    },
    {
        "id": "b641a26c2cdea311",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 820,
        "wires": [
            [
                "a213c34292093199"
            ]
        ]
    },
    {
        "id": "fbb76cff413cca97",
        "type": "change",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "a213c34292093199"
            ]
        ]
    },
    {
        "id": "c0381109cd0de14f",
        "type": "ui_text",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "group": "f08ba3d0ec182a89",
        "order": 11,
        "width": "2",
        "height": "1",
        "name": "Time Elapsed",
        "label": "Elapsed",
        "format": "{{msg.formattedTimeElapsed}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "c3c11b9d940b507c",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "g": "60d7a2df45d3ca32",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 700,
        "wires": []
    },
    {
        "id": "5b9fc63e595c7e43",
        "type": "aedes broker",
        "z": "a7a28dcbcb6cfc4a",
        "name": "mqtt broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 1130,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "96edda1a55164ec7",
        "type": "comment",
        "z": "a7a28dcbcb6cfc4a",
        "name": "MQTT Server",
        "info": "",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "8b3c0dc2f4ab5c17",
        "type": "mqtt out",
        "z": "a7a28dcbcb6cfc4a",
        "name": "",
        "topic": "/game",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947951ea1f0569ac",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "3eb9d58248ac192e",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "Format into hh:mm:ss",
        "info": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "0a45d77e3fdceb2c",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "Retrieve global game time",
        "info": "",
        "x": 410,
        "y": 120,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "d1d33fc5a3a6f764",
        "type": "inject",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "Every 1 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "1895b1bff4f5ea18"
            ]
        ]
    },
    {
        "id": "f370327d143131af",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "Timer",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "1895b1bff4f5ea18",
        "type": "function",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "Update Game Timer",
        "func": "\n// Retrieve the global time remaining counter\nmsg.timeRemaining = global.get(\"timeRemaining\") || 0;\n\n// Display value in the editor\nnode.status({ fill: \"green\", shape: \"dot\", text: msg.timeRemaining});\n\n// Pass value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "8478580a26db84ed"
            ]
        ]
    },
    {
        "id": "8478580a26db84ed",
        "type": "function",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "Format Time As HH:MM:SS",
        "func": "// msg.timeRemaining is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "f1dead188fc46e1f"
            ]
        ]
    },
    {
        "id": "e3044aad6c1913f3",
        "type": "trigger",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "pay",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "d9289818e2cfabf6"
            ]
        ]
    },
    {
        "id": "d9289818e2cfabf6",
        "type": "change",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "displayText",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "6f9b5ffd4ed16659"
            ]
        ]
    },
    {
        "id": "29fcc25b7cce5bed",
        "type": "join",
        "z": "77c3c0b976c12fb4",
        "g": "e2481daedaefe458",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "acd825f501e439a4"
            ]
        ]
    },
    {
        "id": "b1df2f6a3f3dbcd7",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Duration before clearing",
        "info": "",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b01e473aadffa16",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "e2481daedaefe458",
        "name": "Combine time + clue + video",
        "info": "",
        "x": 1063,
        "y": 120,
        "wires": []
    },
    {
        "id": "950bb82e336f21e9",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Set msg variable from payload",
        "info": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "acd825f501e439a4",
        "type": "uibuilder",
        "z": "77c3c0b976c12fb4",
        "g": "e2481daedaefe458",
        "name": "",
        "topic": "",
        "url": "room_display",
        "fwdInMessages": false,
        "allowScripts": true,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "6.4.1",
        "showMsgUib": false,
        "x": 1300,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1239fd86e1112e48",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "e2481daedaefe458",
        "name": "Send to display",
        "info": "",
        "x": 1287,
        "y": 120,
        "wires": []
    },
    {
        "id": "a6fcbf071d9dfc09",
        "type": "change",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "/Pexels Videos 3853.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 780,
        "wires": [
            [
                "cf0d4685a1049fca"
            ]
        ]
    },
    {
        "id": "18a40a2047361f06",
        "type": "trigger",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 860,
        "wires": [
            [
                "aa8cf0b46180bacc",
                "6ad44ee2b7da5173"
            ]
        ]
    },
    {
        "id": "70ab8d88810e3176",
        "type": "change",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 860,
        "wires": [
            [
                "18a40a2047361f06"
            ]
        ]
    },
    {
        "id": "aa8cf0b46180bacc",
        "type": "change",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6ad44ee2b7da5173",
        "type": "change",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 820,
        "wires": [
            [
                "b676a20af598d1c9"
            ]
        ]
    },
    {
        "id": "ce6fabcd9792a1dc",
        "type": "link in",
        "z": "77c3c0b976c12fb4",
        "g": "e2481daedaefe458",
        "name": "In-Game Text Display",
        "links": [
            "6f9b5ffd4ed16659",
            "96a0b122060445a5",
            "ed5d099e0b8c1424",
            "cf0d4685a1049fca",
            "f1dead188fc46e1f",
            "b676a20af598d1c9",
            "4586a515dd11f3a4",
            "cff28163790bb4b6",
            "d1ddfac3b8f1e655"
        ],
        "x": 955,
        "y": 160,
        "wires": [
            [
                "29fcc25b7cce5bed"
            ]
        ]
    },
    {
        "id": "6f9b5ffd4ed16659",
        "type": "link out",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "ce6fabcd9792a1dc"
        ],
        "x": 865,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea0b18db2b1b4290",
        "type": "ui_dropdown",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "7f709df3588dcc39",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Look Under the Table",
                "type": "str"
            },
            {
                "label": "",
                "value": "Did you Hear a Noise?",
                "type": "str"
            },
            {
                "label": "",
                "value": "Check your coat pockets",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "e3044aad6c1913f3",
                "0e382e2f59d9cc6d"
            ]
        ]
    },
    {
        "id": "7cc54138b5e5f81b",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Predefined Messages",
        "info": "",
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "05d159debf306c85",
        "type": "ui_text_input",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7f709df3588dcc39",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "e3044aad6c1913f3",
                "0e382e2f59d9cc6d"
            ]
        ]
    },
    {
        "id": "5e2069b17f3f7b54",
        "type": "ui_audio",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "group": "7f709df3588dcc39",
        "voice": "",
        "always": true,
        "x": 1320,
        "y": 580,
        "wires": []
    },
    {
        "id": "0e382e2f59d9cc6d",
        "type": "file in",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "getfilewithSound",
        "filename": "c:/temp/soundGameDisplay.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 960,
        "y": 580,
        "wires": [
            [
                "5e2069b17f3f7b54"
            ]
        ]
    },
    {
        "id": "5473b2666b98035d",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Free Text Messages",
        "info": "",
        "x": 230,
        "y": 540,
        "wires": []
    },
    {
        "id": "656f5141f338c127",
        "type": "ui_button",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "group": "7f709df3588dcc39",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play video",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "a6fcbf071d9dfc09",
                "70ab8d88810e3176"
            ]
        ]
    },
    {
        "id": "064e0f743f1134e2",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Play video overlay",
        "info": "",
        "x": 230,
        "y": 720,
        "wires": []
    },
    {
        "id": "46267313b989836d",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Play audible alert for players",
        "info": "",
        "x": 1140,
        "y": 520,
        "wires": []
    },
    {
        "id": "cf0d4685a1049fca",
        "type": "link out",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "ce6fabcd9792a1dc"
        ],
        "x": 665,
        "y": 760,
        "wires": []
    },
    {
        "id": "f1dead188fc46e1f",
        "type": "link out",
        "z": "77c3c0b976c12fb4",
        "g": "a8f5894f9a6f4628",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "ce6fabcd9792a1dc"
        ],
        "x": 825,
        "y": 160,
        "wires": []
    },
    {
        "id": "b676a20af598d1c9",
        "type": "link out",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "ce6fabcd9792a1dc"
        ],
        "x": 1065,
        "y": 820,
        "wires": []
    },
    {
        "id": "95078f756e6a46fd",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Assign video file",
        "info": "",
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "e3fea949085d8937",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Pause game while video plays",
        "info": "",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "91abbf9cc31fc232",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Clear video overlay",
        "info": "",
        "x": 890,
        "y": 780,
        "wires": []
    },
    {
        "id": "134bace5f7a8ec13",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "Resume game",
        "info": "",
        "x": 870,
        "y": 860,
        "wires": []
    },
    {
        "id": "e9374b61d3a58eb9",
        "type": "http request",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://github.com/gabrielcor/node-redescape-EscapeRoomSupplier/blob/main/Resources/AudiosAndVideos/out-of-nowhere-message-tone.mp3?raw=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 680,
        "wires": [
            [
                "0b84b5020ab1e7ac"
            ]
        ]
    },
    {
        "id": "0b84b5020ab1e7ac",
        "type": "file",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "filename": "c:/temp/soundGameDisplay.mp3",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "0e382e2f59d9cc6d"
            ]
        ]
    },
    {
        "id": "e40494f47fb28c91",
        "type": "catch",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "",
        "scope": [
            "0e382e2f59d9cc6d"
        ],
        "uncaught": false,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "e9374b61d3a58eb9"
            ]
        ]
    },
    {
        "id": "16bf9dac159ff1cb",
        "type": "comment",
        "z": "77c3c0b976c12fb4",
        "g": "6fe73218c562971c",
        "name": "If local file not found, download from github",
        "info": "",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "851adb32a2c54d68",
        "type": "file",
        "z": "46b5fdb2e4905102",
        "name": "Append to Log File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c7d232acd89739f2",
        "type": "ui_switch",
        "z": "46b5fdb2e4905102",
        "name": "",
        "label": "Logging",
        "tooltip": "",
        "group": "b977110e3978794d",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "1b45918ffdd632c2"
            ]
        ]
    },
    {
        "id": "1b45918ffdd632c2",
        "type": "change",
        "z": "46b5fdb2e4905102",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logging",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b93d29535607fa",
        "type": "switch",
        "z": "46b5fdb2e4905102",
        "name": "",
        "property": "logging",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "a54ef364ad1bbd25"
            ]
        ]
    },
    {
        "id": "a54ef364ad1bbd25",
        "type": "function",
        "z": "46b5fdb2e4905102",
        "name": "Create Log Entry",
        "func": "// Define a payload object with the fields required\n// for the log entry\nvar log_entry = {\n    \"time\": new Date(),\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n};\nmsg.payload = log_entry;\n\n// Specify the log file\nmsg.filename = \"/Node-REDscape/log.txt\";\n\n// Show the log entry below the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:JSON.stringify(log_entry)});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "e12cb5b8a7beeba4",
                "bf34d7b9b98761c7"
            ]
        ]
    },
    {
        "id": "f19561bb66e3cc20",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Toggle Logging On/Off",
        "info": "",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "c7cd4c92b11eba68",
        "type": "ui_template",
        "z": "46b5fdb2e4905102",
        "group": "b977110e3978794d",
        "name": "Dashboard Log",
        "order": 3,
        "width": "30",
        "height": 2,
        "format": "<div ng-repeat=\"line in msg.payload track by $index\">\n  <div ng-style=\"{'margin-bottom':'1em'}\">{{line}}</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e12cb5b8a7beeba4",
        "type": "function",
        "z": "46b5fdb2e4905102",
        "name": "Update Log Display",
        "func": "// Retrieve the existing log display\nvar logDisplay = flow.get(\"logDisplay\") || [];\n\n// Add the new log entry to the top \nlogDisplay.unshift(msg.payload);\n\n// Cap maximum size of the log display\nif(logDisplay.length > 100) {\n    // Remove the last element\n    logDisplay.pop();\n}\n\n// Save the updated log of entries\nflow.set(\"logDisplay\", logDisplay);\n\n// Pass the display along the flow\nmsg.payload = logDisplay;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "c7cd4c92b11eba68"
            ]
        ]
    },
    {
        "id": "82b51bd97bd88d3c",
        "type": "link in",
        "z": "46b5fdb2e4905102",
        "name": "Log",
        "links": [
            "c50489a8ac6327ef",
            "cf0e7850cb00dfe6",
            "972e87fc83299cbc",
            "4732b270422034b9",
            "f41cc5ada430a03e"
        ],
        "x": 255,
        "y": 340,
        "wires": [
            [
                "d2b93d29535607fa"
            ]
        ]
    },
    {
        "id": "8a6fa72056fe0960",
        "type": "ui_button",
        "z": "46b5fdb2e4905102",
        "name": "",
        "group": "b977110e3978794d",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear Log",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "d591a988a0e2b3d7"
            ]
        ]
    },
    {
        "id": "d591a988a0e2b3d7",
        "type": "change",
        "z": "46b5fdb2e4905102",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logDisplay",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "e12cb5b8a7beeba4"
            ]
        ]
    },
    {
        "id": "bb1b2fbc9810cf79",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Clear the Log Display",
        "info": "",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "9dcf6e2ca85ceaa6",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Log event",
        "info": "",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce41541094824009",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Only continue if logging enabled",
        "info": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d4f2cae5ed34d44",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Specify fields to log",
        "info": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b24660ca316fc7b",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Send Log to Dashboard",
        "info": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "a5d5955b02a9eaa5",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Send Log to File",
        "info": "",
        "x": 1180,
        "y": 440,
        "wires": []
    },
    {
        "id": "f93a3cf772e710de",
        "type": "ui_switch",
        "z": "46b5fdb2e4905102",
        "name": "",
        "label": "Save to Logfile",
        "tooltip": "",
        "group": "b977110e3978794d",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "0e5e687edfbf1509"
            ]
        ]
    },
    {
        "id": "bf34d7b9b98761c7",
        "type": "switch",
        "z": "46b5fdb2e4905102",
        "name": "",
        "property": "useLogfile",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "851adb32a2c54d68"
            ]
        ]
    },
    {
        "id": "0e5e687edfbf1509",
        "type": "change",
        "z": "46b5fdb2e4905102",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "useLogfile",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6e3b8c7c1509ffe2",
        "type": "mqtt in",
        "z": "46b5fdb2e4905102",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "947951ea1f0569ac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "66b63a5f246a4508"
            ]
        ]
    },
    {
        "id": "4732b270422034b9",
        "type": "link out",
        "z": "46b5fdb2e4905102",
        "name": "Log MQTT traffic",
        "mode": "link",
        "links": [
            "82b51bd97bd88d3c"
        ],
        "x": 485,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba6f2e4cc483002d",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "MQTT traffic",
        "info": "",
        "x": 250,
        "y": 520,
        "wires": []
    },
    {
        "id": "6cbca01d17d32891",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Save log to file",
        "info": "",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "ce8a12cf685cbfec",
        "type": "ui_switch",
        "z": "46b5fdb2e4905102",
        "name": "",
        "label": "MQTT Log",
        "tooltip": "",
        "group": "b977110e3978794d",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "a1a199361b42eda9"
            ]
        ]
    },
    {
        "id": "a1a199361b42eda9",
        "type": "change",
        "z": "46b5fdb2e4905102",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mqttlog",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7bb335d304894053",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "Toggle MQTT Log",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "66b63a5f246a4508",
        "type": "switch",
        "z": "46b5fdb2e4905102",
        "name": "",
        "property": "mqttlog",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "4732b270422034b9"
            ]
        ]
    },
    {
        "id": "8024db31b2b8fe7e",
        "type": "comment",
        "z": "46b5fdb2e4905102",
        "name": "MQTT log enabled",
        "info": "",
        "x": 410,
        "y": 480,
        "wires": []
    }
]