Flows/Core/ERS_Core.json
[
    {
        "id": "350f3f1be5bf834e",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "afb330bff5dc84a7",
        "type": "tab",
        "label": "In-Game Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "31a7412f.61a816",
        "type": "tab",
        "label": "ERS_Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "063501cbf8d4d96b",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "aa84b0b3f6f24d4c",
            "e2d366190836429a",
            "758310f9eb5818de",
            "c7c4685c94a69e6f",
            "34e41184596a8cc2",
            "87d09c692b8687fc"
        ],
        "x": 34,
        "y": 79,
        "w": 302,
        "h": 202
    },
    {
        "id": "88186d2d626ead90",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "c60ade8d2522e8b4",
            "42d9fcf53b80577d"
        ],
        "x": 374,
        "y": 39,
        "w": 312,
        "h": 82
    },
    {
        "id": "1d39f27b3d601c72",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "197160bd5c9b62c4",
            "0deb9fba3b6f3c48",
            "c1d322a0a9c2b4ac",
            "4a56258a14858018",
            "d2bfa31323cf7730",
            "98ab54042d4213d0",
            "342f119e8f4998e2",
            "890f86205d47ef77",
            "ef582930fa6e08ef",
            "4e6a3fb6ac8e60de",
            "4a863b19c2050c0a",
            "4f3e8b2d7209c3c4",
            "442e7bc38dd4c3b7",
            "06ef4faf69df41d0"
        ],
        "x": 34,
        "y": 319,
        "w": 672,
        "h": 202
    },
    {
        "id": "c870415b6658eca9",
        "type": "group",
        "z": "350f3f1be5bf834e",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "4a9c0dfb1f0b9b85",
            "c8fb5887561b01d3",
            "39e77fdf6d2e5543",
            "75a596869f308dab",
            "e7252fb6a4819ecf",
            "f457b1998a5d01b9",
            "2ce811328a35a524",
            "a98c2ab0de57b58a",
            "32180624627a2049",
            "f93150b86a48dd2b",
            "0c9d3ef3bf7c7bc0",
            "465e64fa2453bb6a",
            "6e87bf8ee8b2ac47",
            "f020309c907b1b75",
            "59b3354d12a64752",
            "65c75d67cdeec25c"
        ],
        "x": 34,
        "y": 559,
        "w": 812,
        "h": 342
    },
    {
        "id": "47d60ff77941c25c",
        "type": "group",
        "z": "afb330bff5dc84a7",
        "name": "Game Time",
        "style": {
            "label": true
        },
        "nodes": [
            "70a659a67372af64",
            "9f0c68ee4276f87e",
            "94b5a3763386897c",
            "ac3ad590e26f333f",
            "6cf1d2f79751a8b0",
            "3a1ec7c1638755d8",
            "f2db8f5068ba4191"
        ],
        "x": 74,
        "y": 79,
        "w": 792,
        "h": 122
    },
    {
        "id": "c7dcc2fc49c21692",
        "type": "group",
        "z": "afb330bff5dc84a7",
        "name": "Dynamic Content",
        "style": {
            "label": true
        },
        "nodes": [
            "ea19ec062e7e4159",
            "302f16b7c2a5c97b",
            "6a663176539f0793",
            "b51417164a598683",
            "e909d0071736cc14",
            "a40603e3d65ccdeb",
            "706a33616645a67c",
            "73c45ad08b4e9499",
            "0398a245bbe55224",
            "fe7b087d178d348e",
            "a946d0a5944b42fb",
            "225cb9f7e1af5b2a",
            "5348983174bfaf74",
            "052ac926c77d3b97",
            "fa917a9707337a51",
            "07327a27269d85ec",
            "0212febe1009858f",
            "71b8dcdba0275b88",
            "2be43f7e12a70a86",
            "92a539e41b6f6f51",
            "3ca3ba2c7f7323e4",
            "f061f1d08ccfa70b",
            "2dd8f81706ee5d4e",
            "78c810e8f365f5af",
            "4acf023205a8cfc3",
            "8c69ed484ee62459",
            "63dec63b085ba1e3",
            "54d37284765e710e",
            "d5dc4f5d0fa7cd13"
        ],
        "x": 54,
        "y": 339,
        "w": 1292,
        "h": 562
    },
    {
        "id": "7f1936f0fa1668a9",
        "type": "group",
        "z": "afb330bff5dc84a7",
        "name": "Send to display",
        "style": {
            "label": true
        },
        "nodes": [
            "a8ae982f4dd8e565",
            "a9a439c85dccd776",
            "19e7511e6497230b",
            "63deb92b07742d73",
            "adcec27242c6e92f"
        ],
        "x": 914,
        "y": 79,
        "w": 492,
        "h": 122
    },
    {
        "id": "45013fdfd43f76cb",
        "type": "ui_spacer",
        "z": "350f3f1be5bf834e",
        "name": "spacer",
        "group": "f08ba3d0ec182a89",
        "order": 6,
        "width": "6",
        "height": "1"
    },
    {
        "id": "f08ba3d0ec182a89",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "a38c3d325d960343",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77085fa9048e360b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "eed1a8a6.8d8878",
        "type": "ui_group",
        "name": "Default",
        "tab": "b9a603a9.4c8c9",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "192.168.5.160",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9a603a9.4c8c9",
        "type": "ui_tab",
        "name": "Logging",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e21e4642.c12f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.5.160",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7f2947c85d1fbc50",
        "type": "ui_tab",
        "name": "UPC Emulators",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ad0d7f51f9ebbad1",
        "type": "ui_tab",
        "name": "UPC Devices",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "733727e93f750e8c",
        "type": "ui_group",
        "name": "In-Game Display",
        "tab": "a38c3d325d960343",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "197160bd5c9b62c4",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 5,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "98ab54042d4213d0"
            ]
        ]
    },
    {
        "id": "0deb9fba3b6f3c48",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 3,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-stop",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "342f119e8f4998e2"
            ]
        ]
    },
    {
        "id": "c1d322a0a9c2b4ac",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "890f86205d47ef77"
            ]
        ]
    },
    {
        "id": "4a56258a14858018",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "ef582930fa6e08ef"
            ]
        ]
    },
    {
        "id": "d2bfa31323cf7730",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + $millis() - $flowContext('startTime')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "4a863b19c2050c0a"
            ]
        ]
    },
    {
        "id": "98ab54042d4213d0",
        "type": "switch",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "4a56258a14858018"
            ]
        ]
    },
    {
        "id": "342f119e8f4998e2",
        "type": "switch",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "d2bfa31323cf7730"
            ]
        ]
    },
    {
        "id": "890f86205d47ef77",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "gameDuration",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "timeElapsed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "442e7bc38dd4c3b7"
            ]
        ]
    },
    {
        "id": "c60ade8d2522e8b4",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "88186d2d626ead90",
        "name": "Initialize Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"gameDuration\", 3600000);\nglobal.set(\"elapsedTimeDelta\", 0);\nglobal.set(\"timeElapsed\", 0);\nglobal.set(\"timeRemaining\", 3600000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "cd9c79c0f7ca4c12"
            ]
        ]
    },
    {
        "id": "42d9fcf53b80577d",
        "type": "link in",
        "z": "350f3f1be5bf834e",
        "g": "88186d2d626ead90",
        "name": "",
        "links": [
            "758310f9eb5818de"
        ],
        "x": 415,
        "y": 80,
        "wires": [
            [
                "c60ade8d2522e8b4"
            ]
        ]
    },
    {
        "id": "ef582930fa6e08ef",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Start",
        "links": [
            "65781ff6.32997",
            "f64afdb2.ae6738",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    },
    {
        "id": "4e6a3fb6ac8e60de",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "4a863b19c2050c0a",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Stop",
        "links": [
            "b6c64fbb.744e7",
            "f64afdb2.ae6738",
            "75a596869f308dab",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f3e8b2d7209c3c4",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Stop",
        "info": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "442e7bc38dd4c3b7",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Reset",
        "links": [
            "b72df54c.54dbc8",
            "f476429e.39f778",
            "fad501df9730e3cd",
            "5051fca6f0fc24ce",
            "771ef7315cbeaed4",
            "6aa55bc0969c2645",
            "f64afdb2.ae6738",
            "27a13ceb38ba3113",
            "b24d6dd76f244e1c",
            "561c4af966865974",
            "75a596869f308dab",
            "fde61d47216f1287",
            "35e08daeabc5fa71",
            "af0afab53c87e0ad",
            "40d25260ba98c7df",
            "689f8b8e61d5ce4b"
        ],
        "x": 495,
        "y": 480,
        "wires": []
    },
    {
        "id": "05b37843628a96bf",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "aa84b0b3f6f24d4c",
        "type": "inject",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "Every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c7c4685c94a69e6f"
            ]
        ]
    },
    {
        "id": "e2d366190836429a",
        "type": "inject",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Initialization",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "758310f9eb5818de"
            ]
        ]
    },
    {
        "id": "758310f9eb5818de",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "42d9fcf53b80577d",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "eb7d0ddb30a55c18",
            "cae864a2b6640d37",
            "40d25260ba98c7df",
            "689f8b8e61d5ce4b"
        ],
        "x": 295,
        "y": 120,
        "wires": []
    },
    {
        "id": "c7c4685c94a69e6f",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Tick",
        "mode": "link",
        "links": [
            "75a596869f308dab",
            "0ebb81d8a4618708",
            "518590794501de1b"
        ],
        "x": 295,
        "y": 180,
        "wires": []
    },
    {
        "id": "34e41184596a8cc2",
        "type": "ui_ui_control",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "87d09c692b8687fc"
            ]
        ]
    },
    {
        "id": "87d09c692b8687fc",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "063501cbf8d4d96b",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 295,
        "y": 240,
        "wires": []
    },
    {
        "id": "0b46b07651aabd95",
        "type": "ui_template",
        "z": "350f3f1be5bf834e",
        "group": "f08ba3d0ec182a89",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1000,
        "y": 140,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "e364bd8ab15e99bb",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Dashboard Styling",
        "info": "",
        "x": 990,
        "y": 101,
        "wires": []
    },
    {
        "id": "a16e88a8d5c65b16",
        "type": "catch",
        "z": "350f3f1be5bf834e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 940,
        "y": 260,
        "wires": [
            [
                "c02c1b80ce61d7d7"
            ]
        ]
    },
    {
        "id": "c02c1b80ce61d7d7",
        "type": "debug",
        "z": "350f3f1be5bf834e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "a4e1b2d5ee32da8d",
        "type": "complete",
        "z": "350f3f1be5bf834e",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "c02c1b80ce61d7d7"
            ]
        ]
    },
    {
        "id": "21156e9a382b1245",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "Exception Handling",
        "info": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd9c79c0f7ca4c12",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "75a596869f308dab",
            "fde61d47216f1287",
            "eb7d0ddb30a55c18",
            "cae864a2b6640d37"
        ],
        "x": 745,
        "y": 120,
        "wires": []
    },
    {
        "id": "06ef4faf69df41d0",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "1d39f27b3d601c72",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a9c0dfb1f0b9b85",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Update Timer",
        "func": "// Retrieve current state of global timer variables\nvar gameState = global.get(\"gameState\") || 'playing';\nvar gameDuration = global.get(\"gameDuration\") || 0;\nvar elapsedTimeDelta = global.get(\"elapsedTimeDelta\") || 0;\n// Total time elapsed is duration since the start button was last pressed, + any adjustments\nvar timeElapsed = global.get(\"timeElapsed\") || 0;\nvar startTime = flow.get(\"startTime\") || 0;\n\n// If the game is active, update the time elapsed\nif(gameState == \"playing\") {\n\n    // Total time elapsed is duration since the start button was last pressed, + any adjustments\n    timeElapsed = (Date.now() - startTime);\n\n    // Update the global variable\n    global.set(\"timeElapsed\", timeElapsed);\n}\n\n// We update these even if gameState is not playing, to allow for\n// adjustments to gameDuration or timeElapsed made when game is stopped\nvar timeElapsedAfterAdjustments = timeElapsed += elapsedTimeDelta;\nvar timeRemaining = gameDuration - timeElapsed;\n\nglobal.set(\"timeRemaining\", timeRemaining);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: timeRemaining });\n\n// Update the msg to carry string\nmsg.timeElapsed = timeElapsedAfterAdjustments;        \nmsg.timeRemaining = timeRemaining;\n\n// Only need to update UI if timeRemaining has changed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 600,
        "wires": [
            [
                "39e77fdf6d2e5543"
            ]
        ]
    },
    {
        "id": "c8fb5887561b01d3",
        "type": "ui_template",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "name": "Time Remaining",
        "order": 2,
        "width": "6",
        "height": "3",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.formattedTimeRemaining}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "39e77fdf6d2e5543",
        "type": "function",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Format Time for Dashboard Display",
        "func": "// Create formattedTime in hh:mm:ss\nvar t = msg.timeElapsed / 1000; //ms\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\nmsg.formattedTimeElapsed = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\nvar t2 = msg.timeRemaining / 1000; //ms\nvar h2 = Math.floor(t2 / 3600);\nvar m2 = Math.floor(t2 % 3600 / 60);\nvar s2 = Math.floor(t2 % 3600 % 60);\nmsg.formattedTimeRemaining = (\"0\" + h2).slice(-2) + \":\" + (\"0\" + m2).slice(-2) + \":\" + (\"0\" + s2).slice(-2);\n\nvar t3 = global.get(\"gameDuration\") / 1000; //ms\nvar h3 = Math.floor(t3 / 3600);\nvar m3 = Math.floor(t3 % 3600 / 60);\nvar s3 = Math.floor(t3 % 3600 % 60);\nmsg.formattedGameDuration = (\"0\" + h3).slice(-2) + \":\" + (\"0\" + m3).slice(-2) + \":\" + (\"0\" + s3).slice(-2);\n\n// Set timeColour depending on current gamestate and time remaining\nvar gameState = global.get(\"gameState\");\nif (gameState == \"playing\") {\n    if (msg.timeRemaining < 60000) { msg.timeColour = \"red\"; }\n    else { msg.timeColour = \"green\"; }\n}\nelse { msg.timeColour = \"white\"; }\n\n// Update the editor node\nnode.status({ fill: msg.timeColour, shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "c8fb5887561b01d3",
                "f93150b86a48dd2b",
                "59b3354d12a64752"
            ]
        ]
    },
    {
        "id": "75a596869f308dab",
        "type": "link in",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "UpdateTimerLinkIn",
        "links": [
            "32180624627a2049",
            "442e7bc38dd4c3b7",
            "4a863b19c2050c0a",
            "c7c4685c94a69e6f",
            "cd9c79c0f7ca4c12",
            "ef582930fa6e08ef"
        ],
        "x": 85,
        "y": 600,
        "wires": [
            [
                "4a9c0dfb1f0b9b85"
            ]
        ]
    },
    {
        "id": "e7252fb6a4819ecf",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 9,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "2ce811328a35a524"
            ]
        ]
    },
    {
        "id": "f457b1998a5d01b9",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "a98c2ab0de57b58a"
            ]
        ]
    },
    {
        "id": "2ce811328a35a524",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "a98c2ab0de57b58a",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 780,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "32180624627a2049",
        "type": "link out",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "75a596869f308dab"
        ],
        "x": 535,
        "y": 800,
        "wires": []
    },
    {
        "id": "f93150b86a48dd2b",
        "type": "ui_text",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "order": 8,
        "width": "2",
        "height": "1",
        "name": "Game Duration",
        "label": "Duration",
        "format": "{{msg.formattedGameDuration}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "465e64fa2453bb6a",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 12,
        "width": "2",
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "0c9d3ef3bf7c7bc0"
            ]
        ]
    },
    {
        "id": "f020309c907b1b75",
        "type": "ui_button",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "group": "f08ba3d0ec182a89",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "#999999",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "6e87bf8ee8b2ac47"
            ]
        ]
    },
    {
        "id": "0c9d3ef3bf7c7bc0",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 820,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "6e87bf8ee8b2ac47",
        "type": "change",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "32180624627a2049"
            ]
        ]
    },
    {
        "id": "59b3354d12a64752",
        "type": "ui_text",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "group": "f08ba3d0ec182a89",
        "order": 11,
        "width": "2",
        "height": "1",
        "name": "Time Elapsed",
        "label": "Elapsed",
        "format": "{{msg.formattedTimeElapsed}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "65c75d67cdeec25c",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "g": "c870415b6658eca9",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 700,
        "wires": []
    },
    {
        "id": "189d4048132db79d",
        "type": "aedes broker",
        "z": "350f3f1be5bf834e",
        "name": "mqtt broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 1130,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a42e696a12382ae5",
        "type": "comment",
        "z": "350f3f1be5bf834e",
        "name": "MQTT Server",
        "info": "",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "70a659a67372af64",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "Format into hh:mm:ss",
        "info": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f0c68ee4276f87e",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "Retrieve global game time",
        "info": "",
        "x": 410,
        "y": 120,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "94b5a3763386897c",
        "type": "inject",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "Every 1 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "6cf1d2f79751a8b0"
            ]
        ]
    },
    {
        "id": "ac3ad590e26f333f",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "Timer",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "6cf1d2f79751a8b0",
        "type": "function",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "Update Game Timer",
        "func": "\n// Retrieve the global time remaining counter\nmsg.timeRemaining = global.get(\"timeRemaining\") || 0;\n\n// Display value in the editor\nnode.status({ fill: \"green\", shape: \"dot\", text: msg.timeRemaining});\n\n// Pass value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "3a1ec7c1638755d8"
            ]
        ]
    },
    {
        "id": "3a1ec7c1638755d8",
        "type": "function",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "Format Time As HH:MM:SS",
        "func": "// msg.timeRemaining is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "f2db8f5068ba4191"
            ]
        ]
    },
    {
        "id": "ea19ec062e7e4159",
        "type": "trigger",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "pay",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "302f16b7c2a5c97b"
            ]
        ]
    },
    {
        "id": "302f16b7c2a5c97b",
        "type": "change",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "displayText",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 420,
        "wires": [
            [
                "fe7b087d178d348e"
            ]
        ]
    },
    {
        "id": "a8ae982f4dd8e565",
        "type": "join",
        "z": "afb330bff5dc84a7",
        "g": "7f1936f0fa1668a9",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "19e7511e6497230b"
            ]
        ]
    },
    {
        "id": "6a663176539f0793",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Duration before clearing",
        "info": "",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "a9a439c85dccd776",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "7f1936f0fa1668a9",
        "name": "Combine time + clue + video",
        "info": "",
        "x": 1063,
        "y": 120,
        "wires": []
    },
    {
        "id": "b51417164a598683",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Set msg variable from payload",
        "info": "",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "19e7511e6497230b",
        "type": "uibuilder",
        "z": "afb330bff5dc84a7",
        "g": "7f1936f0fa1668a9",
        "name": "",
        "topic": "",
        "url": "room_display",
        "fwdInMessages": false,
        "allowScripts": true,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "6.4.1",
        "showMsgUib": false,
        "x": 1300,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "63deb92b07742d73",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "7f1936f0fa1668a9",
        "name": "Send to display",
        "info": "",
        "x": 1287,
        "y": 120,
        "wires": []
    },
    {
        "id": "e909d0071736cc14",
        "type": "change",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "/Pexels Videos 3853.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "92a539e41b6f6f51"
            ]
        ]
    },
    {
        "id": "a40603e3d65ccdeb",
        "type": "trigger",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "73c45ad08b4e9499",
                "0398a245bbe55224"
            ]
        ]
    },
    {
        "id": "706a33616645a67c",
        "type": "change",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 800,
        "wires": [
            [
                "a40603e3d65ccdeb"
            ]
        ]
    },
    {
        "id": "73c45ad08b4e9499",
        "type": "change",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "0398a245bbe55224",
        "type": "change",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 760,
        "wires": [
            [
                "3ca3ba2c7f7323e4"
            ]
        ]
    },
    {
        "id": "adcec27242c6e92f",
        "type": "link in",
        "z": "afb330bff5dc84a7",
        "g": "7f1936f0fa1668a9",
        "name": "In-Game Text Display",
        "links": [
            "fe7b087d178d348e",
            "96a0b122060445a5",
            "ed5d099e0b8c1424",
            "92a539e41b6f6f51",
            "f2db8f5068ba4191",
            "3ca3ba2c7f7323e4",
            "4586a515dd11f3a4",
            "cff28163790bb4b6",
            "d1ddfac3b8f1e655"
        ],
        "x": 955,
        "y": 160,
        "wires": [
            [
                "a8ae982f4dd8e565"
            ]
        ]
    },
    {
        "id": "fe7b087d178d348e",
        "type": "link out",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "adcec27242c6e92f"
        ],
        "x": 805,
        "y": 420,
        "wires": []
    },
    {
        "id": "a946d0a5944b42fb",
        "type": "ui_dropdown",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "733727e93f750e8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Look Under the Table",
                "type": "str"
            },
            {
                "label": "",
                "value": "Did you Hear a Noise?",
                "type": "str"
            },
            {
                "label": "",
                "value": "Check your coat pockets",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "ea19ec062e7e4159",
                "fa917a9707337a51"
            ]
        ]
    },
    {
        "id": "225cb9f7e1af5b2a",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Predefined Messages",
        "info": "",
        "x": 180,
        "y": 380,
        "wires": []
    },
    {
        "id": "5348983174bfaf74",
        "type": "ui_text_input",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "733727e93f750e8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "ea19ec062e7e4159",
                "fa917a9707337a51"
            ]
        ]
    },
    {
        "id": "052ac926c77d3b97",
        "type": "ui_audio",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "group": "733727e93f750e8c",
        "voice": "",
        "always": true,
        "x": 1260,
        "y": 520,
        "wires": []
    },
    {
        "id": "fa917a9707337a51",
        "type": "file in",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "getfilewithSound",
        "filename": "c:/temp/soundGameDisplay.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 900,
        "y": 520,
        "wires": [
            [
                "052ac926c77d3b97"
            ]
        ]
    },
    {
        "id": "07327a27269d85ec",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Free Text Messages",
        "info": "",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "0212febe1009858f",
        "type": "ui_button",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "group": "733727e93f750e8c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play video",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "e909d0071736cc14",
                "706a33616645a67c"
            ]
        ]
    },
    {
        "id": "71b8dcdba0275b88",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Play video overlay",
        "info": "",
        "x": 170,
        "y": 660,
        "wires": []
    },
    {
        "id": "2be43f7e12a70a86",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Play audible alert for players",
        "info": "",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "92a539e41b6f6f51",
        "type": "link out",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "adcec27242c6e92f"
        ],
        "x": 605,
        "y": 700,
        "wires": []
    },
    {
        "id": "f2db8f5068ba4191",
        "type": "link out",
        "z": "afb330bff5dc84a7",
        "g": "47d60ff77941c25c",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "adcec27242c6e92f"
        ],
        "x": 825,
        "y": 160,
        "wires": []
    },
    {
        "id": "3ca3ba2c7f7323e4",
        "type": "link out",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "adcec27242c6e92f"
        ],
        "x": 1005,
        "y": 760,
        "wires": []
    },
    {
        "id": "f061f1d08ccfa70b",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Assign video file",
        "info": "",
        "x": 420,
        "y": 680,
        "wires": []
    },
    {
        "id": "2dd8f81706ee5d4e",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Pause game while video plays",
        "info": "",
        "x": 460,
        "y": 760,
        "wires": []
    },
    {
        "id": "78c810e8f365f5af",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Clear video overlay",
        "info": "",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "4acf023205a8cfc3",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "Resume game",
        "info": "",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "8c69ed484ee62459",
        "type": "http request",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://github.com/gabrielcor/node-redescape-EscapeRoomSupplier/blob/main/Resources/AudiosAndVideos/out-of-nowhere-message-tone.mp3?raw=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 620,
        "wires": [
            [
                "63dec63b085ba1e3"
            ]
        ]
    },
    {
        "id": "63dec63b085ba1e3",
        "type": "file",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "filename": "c:/temp/soundGameDisplay.mp3",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 790,
        "y": 620,
        "wires": [
            [
                "fa917a9707337a51"
            ]
        ]
    },
    {
        "id": "54d37284765e710e",
        "type": "catch",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "",
        "scope": [
            "fa917a9707337a51"
        ],
        "uncaught": false,
        "x": 990,
        "y": 540,
        "wires": [
            [
                "8c69ed484ee62459"
            ]
        ]
    },
    {
        "id": "d5dc4f5d0fa7cd13",
        "type": "comment",
        "z": "afb330bff5dc84a7",
        "g": "c7dcc2fc49c21692",
        "name": "If local file not found, download from github",
        "info": "",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "d36489b9.a97398",
        "type": "file",
        "z": "31a7412f.61a816",
        "name": "Append to Log File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c371def0.c41d4",
        "type": "ui_switch",
        "z": "31a7412f.61a816",
        "name": "",
        "label": "Logging",
        "tooltip": "",
        "group": "eed1a8a6.8d8878",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "8ab5d029.5fa83"
            ]
        ]
    },
    {
        "id": "8ab5d029.5fa83",
        "type": "change",
        "z": "31a7412f.61a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logging",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4f0ef3a2.ba712c",
        "type": "switch",
        "z": "31a7412f.61a816",
        "name": "",
        "property": "logging",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "511b6d84.e268c4"
            ]
        ]
    },
    {
        "id": "511b6d84.e268c4",
        "type": "function",
        "z": "31a7412f.61a816",
        "name": "Create Log Entry",
        "func": "// Define a payload object with the fields required\n// for the log entry\nvar log_entry = {\n    \"time\": new Date(),\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n};\nmsg.payload = log_entry;\n\n// Specify the log file\nmsg.filename = \"/Node-REDscape/log.txt\";\n\n// Show the log entry below the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:JSON.stringify(log_entry)});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "445cf6fe.4d8078",
                "7831a90e10f09e75"
            ]
        ]
    },
    {
        "id": "d1a37b5c.759ed",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Toggle Logging On/Off",
        "info": "",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "c2f79075.e3d64",
        "type": "ui_template",
        "z": "31a7412f.61a816",
        "group": "eed1a8a6.8d8878",
        "name": "Dashboard Log",
        "order": 3,
        "width": "30",
        "height": 2,
        "format": "<div ng-repeat=\"line in msg.payload track by $index\">\n  <div ng-style=\"{'margin-bottom':'1em'}\">{{line}}</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1240,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "445cf6fe.4d8078",
        "type": "function",
        "z": "31a7412f.61a816",
        "name": "Update Log Display",
        "func": "// Retrieve the existing log display\nvar logDisplay = flow.get(\"logDisplay\") || [];\n\n// Add the new log entry to the top \nlogDisplay.unshift(msg.payload);\n\n// Cap maximum size of the log display\nif(logDisplay.length > 100) {\n    // Remove the last element\n    logDisplay.pop();\n}\n\n// Save the updated log of entries\nflow.set(\"logDisplay\", logDisplay);\n\n// Pass the display along the flow\nmsg.payload = logDisplay;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "c2f79075.e3d64"
            ]
        ]
    },
    {
        "id": "f64afdb2.ae6738",
        "type": "link in",
        "z": "31a7412f.61a816",
        "name": "Log",
        "links": [
            "171ea618.d8a322",
            "8a4dffa5.a7935",
            "b32763f3.44a74",
            "c9289f5e.1fb3b8",
            "dd31298f.6fb86",
            "e70201fd67e55953"
        ],
        "x": 255,
        "y": 340,
        "wires": [
            [
                "4f0ef3a2.ba712c"
            ]
        ]
    },
    {
        "id": "b1efbe93.6f8ea",
        "type": "catch",
        "z": "31a7412f.61a816",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 640,
        "y": 560,
        "wires": [
            [
                "7ad70abc.0f24a4"
            ]
        ]
    },
    {
        "id": "7ad70abc.0f24a4",
        "type": "debug",
        "z": "31a7412f.61a816",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "81de3a97.ce63d8",
        "type": "complete",
        "z": "31a7412f.61a816",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "7ad70abc.0f24a4"
            ]
        ]
    },
    {
        "id": "a1a518ec.9afe28",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Exception Handling",
        "info": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "92a3d612.7206a",
        "type": "ui_button",
        "z": "31a7412f.61a816",
        "name": "",
        "group": "eed1a8a6.8d8878",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear Log",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "bf085b.4d65d7a8"
            ]
        ]
    },
    {
        "id": "bf085b.4d65d7a8",
        "type": "change",
        "z": "31a7412f.61a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logDisplay",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "445cf6fe.4d8078"
            ]
        ]
    },
    {
        "id": "75358499.0d6b64",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Clear the Log Display",
        "info": "",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "9593409f.b9608",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Log event",
        "info": "",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "e4d4ff91.d3441",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Only continue if logging enabled",
        "info": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "3cf3cc1a.468f24",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Specify fields to log",
        "info": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "1052466c.ae07d2",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Send Log to Dashboard",
        "info": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9e1b02b.620a08",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Send Log to File",
        "info": "",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "9d634736069dcc14",
        "type": "ui_switch",
        "z": "31a7412f.61a816",
        "name": "",
        "label": "Save to Logfile",
        "tooltip": "",
        "group": "eed1a8a6.8d8878",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "8b08d1338508da81"
            ]
        ]
    },
    {
        "id": "7831a90e10f09e75",
        "type": "switch",
        "z": "31a7412f.61a816",
        "name": "",
        "property": "useLogfile",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "d36489b9.a97398"
            ]
        ]
    },
    {
        "id": "8b08d1338508da81",
        "type": "change",
        "z": "31a7412f.61a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "useLogfile",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1052553f8c848d66",
        "type": "mqtt in",
        "z": "31a7412f.61a816",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "125f6c81.60151b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "e70201fd67e55953"
            ]
        ]
    },
    {
        "id": "e70201fd67e55953",
        "type": "link out",
        "z": "31a7412f.61a816",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f64afdb2.ae6738"
        ],
        "x": 435,
        "y": 560,
        "wires": []
    },
    {
        "id": "92140a2795cba5bb",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "MQTT traffic",
        "info": "",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "ad8d062aaf3ea55f",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Save log to file",
        "info": "",
        "x": 1000,
        "y": 60,
        "wires": []
    }
]