Flows/GET UPC State Guillotine/Get_UPC_State_Guillotine.json
[
    {
        "id": "71538ff0daee5e65",
        "type": "tab",
        "label": "GET_UPC_State_Guillotine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "151d1d7e0cea99c8",
        "type": "group",
        "z": "71538ff0daee5e65",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2a9b6cb55f4a4955",
            "47c3823c106b6ccd",
            "aee6c07715a75421",
            "2ceebfa863fb316f",
            "09ca642e08dfc263",
            "c17abca03743bccb",
            "470a45b8f1582379",
            "9098b4eece42cc8b",
            "77b43e02e2c2995c",
            "b6dd4209f8ffe3be",
            "203ddb5d50739325",
            "e14b0440ce512aa1",
            "d4f67a1f4be8bb30"
        ],
        "x": 24,
        "y": 79,
        "w": 1278,
        "h": 562
    },
    {
        "id": "d4f67a1f4be8bb30",
        "type": "group",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "34a9d5b9dd12c0b6",
            "223db8dbe31fa88c"
        ],
        "x": 924,
        "y": 439,
        "w": 352,
        "h": 122
    },
    {
        "id": "2a9b6cb55f4a4955",
        "type": "link in",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "link in 25",
        "links": [
            "c7c4685c94a69e6f"
        ],
        "x": 135,
        "y": 380,
        "wires": [
            [
                "2ceebfa863fb316f"
            ]
        ]
    },
    {
        "id": "47c3823c106b6ccd",
        "type": "http request",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "Call API on UPC device",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/upc/mock/99129022401008",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "aee6c07715a75421"
            ]
        ]
    },
    {
        "id": "aee6c07715a75421",
        "type": "rbe",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "c17abca03743bccb"
            ]
        ]
    },
    {
        "id": "2ceebfa863fb316f",
        "type": "change",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "set msg request",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "deviceUrl",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "47c3823c106b6ccd"
            ]
        ]
    },
    {
        "id": "09ca642e08dfc263",
        "type": "function",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "Assign values to display",
        "func": "var payload = msg.payload; //get payload\nvar id = msg.payload.id; // comes from the device\n\npayload.deviceName = flow.get(\"deviceName\");\npayload.description = flow.get(\"description\");\n\nvar d= new Date();\npayload.time = d.toLocaleTimeString();\nmsg.payload = payload;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 600,
        "wires": [
            [
                "e14b0440ce512aa1",
                "34a9d5b9dd12c0b6"
            ]
        ]
    },
    {
        "id": "c17abca03743bccb",
        "type": "json",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "09ca642e08dfc263"
            ]
        ]
    },
    {
        "id": "470a45b8f1582379",
        "type": "comment",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "Every tick",
        "info": "",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "9098b4eece42cc8b",
        "type": "link in",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "link in 26",
        "links": [
            "442e7bc38dd4c3b7",
            "758310f9eb5818de"
        ],
        "x": 305,
        "y": 160,
        "wires": [
            [
                "77b43e02e2c2995c"
            ]
        ]
    },
    {
        "id": "77b43e02e2c2995c",
        "type": "change",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "Initialize target URL & device data",
        "rules": [
            {
                "t": "set",
                "p": "deviceUrl",
                "pt": "flow",
                "to": "http://127.0.0.1/?command=state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "deviceName",
                "pt": "flow",
                "to": "ESRS-TEST01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "description",
                "pt": "flow",
                "to": "Guillotine",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "203ddb5d50739325"
            ]
        ]
    },
    {
        "id": "b6dd4209f8ffe3be",
        "type": "comment",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "Always initialize to: http://nnn.nnn.nnn.nnn?command=state // where nnn.... is IP address of UPC device",
        "info": "",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "203ddb5d50739325",
        "type": "change",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"NOT connected\",\"sv\":\"01.01.06\",\"hv\":\"5\",\"puzzle_state\":{\"number_of_steps\":\"10\",\"current_step\":\"10\",\"attempt_number\":\"0\"},\"universal_state\":{\"machine_state\":\"0\",\"output_state\":\"\",\"input_states\":\"65534\",\"overwritten_inputs\":\"0\"},\"message\":{\"type\":\"info\",\"content\":\"OK!\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 160,
        "wires": [
            [
                "09ca642e08dfc263"
            ]
        ]
    },
    {
        "id": "e14b0440ce512aa1",
        "type": "ui_template",
        "z": "71538ff0daee5e65",
        "g": "151d1d7e0cea99c8",
        "group": "4f349049de3d568f",
        "name": "Guillotine",
        "order": 1,
        "width": 6,
        "height": 4,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.deviceName}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.universal_state.machine_state=='2' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.universal_state.machine_state=='2' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n<br>\n        {{msg.payload.id?msg.payload.id:'Unknown'}}\n        - {{msg.payload.time?msg.payload.time:'Unknown'}}\n<br>\n        {{msg.payload.universal_state.input_states?universal_state.input_states:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">&nbsp;</span>\n    </div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "34a9d5b9dd12c0b6",
        "type": "ui_template",
        "z": "71538ff0daee5e65",
        "g": "d4f67a1f4be8bb30",
        "group": "7d8a085018b16642",
        "name": "Guillotine",
        "order": 1,
        "width": 13,
        "height": 1,
        "format": "<div style=\"display: flex; justify-content: space-evenly; align-items: center;\">\n<p style=\"width: 20%\" class=\"md-title\">{{msg.payload.description?msg.payload.description:'Unknown'}} </p>\n\n\n<p style=\"width: 20%\">{{msg.payload.description?msg.payload.deviceName:'Unknown'}}</p>\n<p style=\"width: 20%\">{{msg.payload.id?msg.payload.id:'Unknown'}}</p>\n<div\n    ng-style=\"{width:'9%',height:'20px', 'text-align': 'center', 'color': 'white','font-weight': 'bold' ,'background-color':msg.payload.universal_state.machine_state=='2' ? 'green' : 'red'}\">\n    {{ msg.payload.universal_state.machine_state=='2' ? 'Solved' : 'Armed' }}\n</div>\n<p style=\"width: 20%\"> {{msg.payload.time?msg.payload.time:'Unknown'}} </p>\n\n\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "223db8dbe31fa88c",
        "type": "comment",
        "z": "71538ff0daee5e65",
        "g": "d4f67a1f4be8bb30",
        "name": "shows device in \"Devices Dashboard\"",
        "info": "",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "4f349049de3d568f",
        "type": "ui_group",
        "name": "Room 1",
        "tab": "7d66f574.b154cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d8a085018b16642",
        "type": "ui_group",
        "name": "Room 1",
        "tab": "b62d0539.6fc68",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices - Beta",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b62d0539.6fc68",
        "type": "ui_tab",
        "name": "Devices Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]