Flows/Get UPC State Keypad/GET_UPC_Keypad.json
[
    {
        "id": "82bca98606cd74a6",
        "type": "tab",
        "label": "Get_UPC_Keypad",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d3bd4a85d43e50a",
        "type": "group",
        "z": "82bca98606cd74a6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e56ffad3246f3029",
            "82f8ca747169711a",
            "462e9408ea3a0ddb",
            "603f5e54876a8e55",
            "647ce7a13353bbe2",
            "44ef8f5531fb085f",
            "ab6bfa579f49c0f8",
            "cbc7f5e0fa87249c",
            "3b0bc2707d02d065",
            "71ad163314174cf7",
            "b1ba8f12990199b9",
            "9f0e824c3912eabf"
        ],
        "x": 74,
        "y": 59,
        "w": 1102,
        "h": 562
    },
    {
        "id": "e56ffad3246f3029",
        "type": "link in",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "link in 18",
        "links": [
            "c7c4685c94a69e6f"
        ],
        "x": 185,
        "y": 360,
        "wires": [
            [
                "603f5e54876a8e55"
            ]
        ]
    },
    {
        "id": "82f8ca747169711a",
        "type": "http request",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "Call API on UPC device",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/upc/mock/99129022401006",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "462e9408ea3a0ddb"
            ]
        ]
    },
    {
        "id": "462e9408ea3a0ddb",
        "type": "rbe",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 360,
        "wires": [
            [
                "44ef8f5531fb085f"
            ]
        ]
    },
    {
        "id": "603f5e54876a8e55",
        "type": "change",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "set msg request",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "deviceUrl",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "82f8ca747169711a"
            ]
        ]
    },
    {
        "id": "647ce7a13353bbe2",
        "type": "function",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "Assign values to display",
        "func": "var payload = msg.payload; //get payload\nvar id = msg.payload.id; // comes from the device\n\npayload.deviceName = flow.get(\"deviceName\");\npayload.description = flow.get(\"description\");\n\nvar d= new Date();\npayload.time = d.toLocaleTimeString();\nmsg.payload = payload;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 580,
        "wires": [
            [
                "9f0e824c3912eabf"
            ]
        ]
    },
    {
        "id": "44ef8f5531fb085f",
        "type": "json",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "647ce7a13353bbe2"
            ]
        ]
    },
    {
        "id": "ab6bfa579f49c0f8",
        "type": "comment",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "Every tick",
        "info": "",
        "x": 160,
        "y": 320,
        "wires": []
    },
    {
        "id": "cbc7f5e0fa87249c",
        "type": "link in",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "link in 19",
        "links": [
            "442e7bc38dd4c3b7",
            "758310f9eb5818de"
        ],
        "x": 355,
        "y": 140,
        "wires": [
            [
                "3b0bc2707d02d065"
            ]
        ]
    },
    {
        "id": "3b0bc2707d02d065",
        "type": "change",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "Initialize target URL & device data",
        "rules": [
            {
                "t": "set",
                "p": "deviceUrl",
                "pt": "flow",
                "to": "http://127.0.0.1/?command=state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "deviceName",
                "pt": "flow",
                "to": "ESRS-TEST06",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "description",
                "pt": "flow",
                "to": "Keypad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "b1ba8f12990199b9"
            ]
        ]
    },
    {
        "id": "71ad163314174cf7",
        "type": "comment",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "Always initialize to: http://nnn.nnn.nnn.nnn?command=state // where nnn.... is IP address of UPC device",
        "info": "",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "b1ba8f12990199b9",
        "type": "change",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"NOT connected\",\"sv\":\"01.01.06\",\"hv\":\"5\",\"puzzle_state\":{\"number_of_steps\":\"10\",\"current_step\":\"10\",\"attempt_number\":\"0\"},\"universal_state\":{\"machine_state\":\"0\",\"output_state\":\"\",\"input_states\":\"65534\",\"overwritten_inputs\":\"0\"},\"message\":{\"type\":\"info\",\"content\":\"OK!\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 140,
        "wires": [
            [
                "647ce7a13353bbe2"
            ]
        ]
    },
    {
        "id": "9f0e824c3912eabf",
        "type": "ui_template",
        "z": "82bca98606cd74a6",
        "g": "4d3bd4a85d43e50a",
        "group": "4f349049de3d568f",
        "name": "Keypad",
        "order": 4,
        "width": 6,
        "height": 4,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.deviceName}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.universal_state.machine_state=='2' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.universal_state.machine_state=='2' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n<br>\n        {{msg.payload.id?msg.payload.id:'Unknown'}}\n        - {{msg.payload.time?msg.payload.time:'Unknown'}}\n<br>\n        {{msg.payload.universal_state.input_states?universal_state.input_states:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">&nbsp;</span>\n    </div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4f349049de3d568f",
        "type": "ui_group",
        "name": "Room 1",
        "tab": "7d66f574.b154cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]