Flows/Get UPC State/ERS_GET UPC State.json
[
    {
        "id": "7cec459b408f9e65",
        "type": "tab",
        "label": "GET_UPC_State",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ebb81d8a4618708",
        "type": "link in",
        "z": "7cec459b408f9e65",
        "name": "link in 1",
        "links": [
            "c7c4685c94a69e6f"
        ],
        "x": 165,
        "y": 320,
        "wires": [
            [
                "8138e05905f687ac"
            ]
        ]
    },
    {
        "id": "5e28fca11e776c89",
        "type": "http request",
        "z": "7cec459b408f9e65",
        "name": "Call API on UPC device",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 530,
        "y": 320,
        "wires": [
            [
                "d21b02c71b5bd77a"
            ]
        ]
    },
    {
        "id": "d21b02c71b5bd77a",
        "type": "rbe",
        "z": "7cec459b408f9e65",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "3d92135786d31413"
            ]
        ]
    },
    {
        "id": "8138e05905f687ac",
        "type": "change",
        "z": "7cec459b408f9e65",
        "name": "set msg request",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "deviceUrl",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "5e28fca11e776c89"
            ]
        ]
    },
    {
        "id": "3b1c032c3fcaeff5",
        "type": "ui_template",
        "z": "7cec459b408f9e65",
        "group": "487ff8a5c1e2834b",
        "name": "Button Panel",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.deviceName}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.universal_state.machine_state=='2' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.universal_state.machine_state=='2' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n<br>\n        {{msg.payload.id?msg.payload.id:'Unknown'}}\n        - {{msg.payload.time?msg.payload.time:'Unknown'}}\n<br>\n        {{msg.payload.universal_state.input_states?universal_state.input_states:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">&nbsp;</span>\n    </div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 990,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "df3c1dacf6fb708e",
        "type": "function",
        "z": "7cec459b408f9e65",
        "name": "Assign values to display",
        "func": "var payload = msg.payload; //get payload\nvar id = msg.payload.id; // comes from the device\n\npayload.deviceName = flow.get(\"deviceName\");\npayload.description = flow.get(\"description\");\n\nvar d= new Date();\npayload.time = d.toLocaleTimeString();\nmsg.payload = payload;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 540,
        "wires": [
            [
                "3b1c032c3fcaeff5"
            ]
        ]
    },
    {
        "id": "3d92135786d31413",
        "type": "json",
        "z": "7cec459b408f9e65",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "df3c1dacf6fb708e"
            ]
        ]
    },
    {
        "id": "434e2fc9d9c1a0b4",
        "type": "comment",
        "z": "7cec459b408f9e65",
        "name": "Every tick",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "2b373cf7867a5518",
        "type": "link in",
        "z": "7cec459b408f9e65",
        "name": "link in 4",
        "links": [
            "442e7bc38dd4c3b7",
            "758310f9eb5818de"
        ],
        "x": 335,
        "y": 100,
        "wires": [
            [
                "17f3273489c1790b"
            ]
        ]
    },
    {
        "id": "17f3273489c1790b",
        "type": "change",
        "z": "7cec459b408f9e65",
        "name": "Initialize target URL & device data",
        "rules": [
            {
                "t": "set",
                "p": "deviceUrl",
                "pt": "flow",
                "to": "http://192.168.1.124?command=state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "deviceName",
                "pt": "flow",
                "to": "ESRS-TEST01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "description",
                "pt": "flow",
                "to": "Contact & Hall Sensor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "b4079d6a2dca0996"
            ]
        ]
    },
    {
        "id": "f989d7222c119b8d",
        "type": "comment",
        "z": "7cec459b408f9e65",
        "name": "Always initialize to: http://nnn.nnn.nnn.nnn?command=state // where nnn.... is IP address of UPC device",
        "info": "",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "b4079d6a2dca0996",
        "type": "change",
        "z": "7cec459b408f9e65",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"NOT connected\",\"sv\":\"01.01.06\",\"hv\":\"5\",\"puzzle_state\":{\"number_of_steps\":\"10\",\"current_step\":\"10\",\"attempt_number\":\"0\"},\"universal_state\":{\"machine_state\":\"0\",\"output_state\":\"\",\"input_states\":\"65534\",\"overwritten_inputs\":\"0\"},\"message\":{\"type\":\"info\",\"content\":\"OK!\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "df3c1dacf6fb708e"
            ]
        ]
    },
    {
        "id": "487ff8a5c1e2834b",
        "type": "ui_group",
        "name": "ESRS-GC",
        "tab": "7d66f574.b154cc",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]