Flows/Get UPC State/Get_UPC_Slide_Sensor.json
[
    {
        "id": "9503fbbadfb8c6cc",
        "type": "tab",
        "label": "UPC_Slide_Sensor_State",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79ae374e9a12518a",
        "type": "link in",
        "z": "9503fbbadfb8c6cc",
        "name": "link in 5",
        "links": [
            "c7c4685c94a69e6f"
        ],
        "x": 165,
        "y": 320,
        "wires": [
            [
                "6b299daad1cc6964"
            ]
        ]
    },
    {
        "id": "d359a3a5633699f4",
        "type": "http request",
        "z": "9503fbbadfb8c6cc",
        "name": "Call API on UPC device",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/upc/mock/99129022401002",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "41c72e2c65cbfaa8"
            ]
        ]
    },
    {
        "id": "41c72e2c65cbfaa8",
        "type": "rbe",
        "z": "9503fbbadfb8c6cc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "8d4d8789f7422c53"
            ]
        ]
    },
    {
        "id": "6b299daad1cc6964",
        "type": "change",
        "z": "9503fbbadfb8c6cc",
        "name": "set msg request",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "deviceUrl",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "d359a3a5633699f4"
            ]
        ]
    },
    {
        "id": "c9a02669d79db186",
        "type": "ui_template",
        "z": "9503fbbadfb8c6cc",
        "group": "4f349049de3d568f",
        "name": "Slider",
        "order": 1,
        "width": 6,
        "height": 4,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\" >{{msg.payload.deviceName}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.universal_state.machine_state=='2' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.universal_state.machine_state=='2' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n<br>\n        {{msg.payload.id?msg.payload.id:'Unknown'}}\n        - {{msg.payload.time?msg.payload.time:'Unknown'}}\n<br>\n        {{msg.payload.universal_state.input_states?universal_state.input_states:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">&nbsp;</span>\n    </div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1030,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4996b96136bbbda2",
        "type": "function",
        "z": "9503fbbadfb8c6cc",
        "name": "Assign values to display",
        "func": "let payload = msg.payload; //get payload\nlet id = msg.payload.id; // comes from the device\n\npayload.deviceName = flow.get(\"deviceName\");\npayload.description = flow.get(\"description\");\n\nlet d= new Date();\npayload.time = d.toLocaleTimeString();\nmsg.payload = payload;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 540,
        "wires": [
            [
                "c9a02669d79db186"
            ]
        ]
    },
    {
        "id": "8d4d8789f7422c53",
        "type": "json",
        "z": "9503fbbadfb8c6cc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "4996b96136bbbda2"
            ]
        ]
    },
    {
        "id": "2451fa2a5e934240",
        "type": "comment",
        "z": "9503fbbadfb8c6cc",
        "name": "Every tick",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "94c96a8dea2b8a72",
        "type": "link in",
        "z": "9503fbbadfb8c6cc",
        "name": "link in 6",
        "links": [
            "442e7bc38dd4c3b7",
            "758310f9eb5818de"
        ],
        "x": 335,
        "y": 100,
        "wires": [
            [
                "e66d08dfd6ce5ffd"
            ]
        ]
    },
    {
        "id": "e66d08dfd6ce5ffd",
        "type": "change",
        "z": "9503fbbadfb8c6cc",
        "name": "Initialize target URL & device data",
        "rules": [
            {
                "t": "set",
                "p": "deviceUrl",
                "pt": "flow",
                "to": "http://127.0.0.1/?command=state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "deviceName",
                "pt": "flow",
                "to": "ESRS-TEST02",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "description",
                "pt": "flow",
                "to": "Slide Sensor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "754c65c61aac621c"
            ]
        ]
    },
    {
        "id": "81045d548852eb94",
        "type": "comment",
        "z": "9503fbbadfb8c6cc",
        "name": "Always initialize to: http://nnn.nnn.nnn.nnn?command=state // where nnn.... is IP address of UPC device",
        "info": "",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "754c65c61aac621c",
        "type": "change",
        "z": "9503fbbadfb8c6cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"NOT connected\",\"sv\":\"01.01.06\",\"hv\":\"5\",\"puzzle_state\":{\"number_of_steps\":\"10\",\"current_step\":\"10\",\"attempt_number\":\"0\"},\"universal_state\":{\"machine_state\":\"0\",\"output_state\":\"\",\"input_states\":\"65534\",\"overwritten_inputs\":\"0\"},\"message\":{\"type\":\"info\",\"content\":\"OK!\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "4996b96136bbbda2"
            ]
        ]
    },
    {
        "id": "4f349049de3d568f",
        "type": "ui_group",
        "name": "Slider ",
        "tab": "7d66f574.b154cc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]