Flows/Get UPC State/GET_UPC_Mollecule_Machine.json
[
    {
        "id": "d7c4eb65c3cb8abd",
        "type": "tab",
        "label": "UPC_State_MoleculeMachine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "688352319536ef61",
        "type": "link in",
        "z": "d7c4eb65c3cb8abd",
        "name": "link in 15",
        "links": [
            "c7c4685c94a69e6f"
        ],
        "x": 205,
        "y": 320,
        "wires": [
            [
                "41e9e1ef2878b433"
            ]
        ]
    },
    {
        "id": "51b1607cbde9cfa7",
        "type": "http request",
        "z": "d7c4eb65c3cb8abd",
        "name": "Call API on UPC device",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/upc/mock/99129022401005",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "0e5a03373c4c877e"
            ]
        ]
    },
    {
        "id": "0e5a03373c4c877e",
        "type": "rbe",
        "z": "d7c4eb65c3cb8abd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 320,
        "wires": [
            [
                "0f20955c3d479075"
            ]
        ]
    },
    {
        "id": "41e9e1ef2878b433",
        "type": "change",
        "z": "d7c4eb65c3cb8abd",
        "name": "set msg request",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "deviceUrl",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "51b1607cbde9cfa7"
            ]
        ]
    },
    {
        "id": "c8552db64ba566ce",
        "type": "function",
        "z": "d7c4eb65c3cb8abd",
        "name": "Assign values to display",
        "func": "var payload = msg.payload; //get payload\nvar id = msg.payload.id; // comes from the device\n\npayload.deviceName = flow.get(\"deviceName\");\npayload.description = flow.get(\"description\");\n\nvar d= new Date();\npayload.time = d.toLocaleTimeString();\nmsg.payload = payload;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "e80ea0cf40073c2e"
            ]
        ]
    },
    {
        "id": "0f20955c3d479075",
        "type": "json",
        "z": "d7c4eb65c3cb8abd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 910,
        "y": 320,
        "wires": [
            [
                "c8552db64ba566ce"
            ]
        ]
    },
    {
        "id": "d76953d0ee65256a",
        "type": "comment",
        "z": "d7c4eb65c3cb8abd",
        "name": "Every tick",
        "info": "",
        "x": 180,
        "y": 280,
        "wires": []
    },
    {
        "id": "86f3f05fd74e71df",
        "type": "link in",
        "z": "d7c4eb65c3cb8abd",
        "name": "link in 16",
        "links": [
            "442e7bc38dd4c3b7",
            "758310f9eb5818de"
        ],
        "x": 375,
        "y": 100,
        "wires": [
            [
                "6e9a296e38f7c185"
            ]
        ]
    },
    {
        "id": "6e9a296e38f7c185",
        "type": "change",
        "z": "d7c4eb65c3cb8abd",
        "name": "Initialize target URL & device data",
        "rules": [
            {
                "t": "set",
                "p": "deviceUrl",
                "pt": "flow",
                "to": "http://127.0.0.1/?command=state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "deviceName",
                "pt": "flow",
                "to": "ESRS-TEST05",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "description",
                "pt": "flow",
                "to": "Molecule Machine",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 100,
        "wires": [
            [
                "43884c1a3d9e0eca"
            ]
        ]
    },
    {
        "id": "baf8764b7bb8ad5b",
        "type": "comment",
        "z": "d7c4eb65c3cb8abd",
        "name": "Always initialize to: http://nnn.nnn.nnn.nnn?command=state // where nnn.... is IP address of UPC device",
        "info": "",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "43884c1a3d9e0eca",
        "type": "change",
        "z": "d7c4eb65c3cb8abd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"NOT connected\",\"sv\":\"01.01.06\",\"hv\":\"5\",\"puzzle_state\":{\"number_of_steps\":\"10\",\"current_step\":\"10\",\"attempt_number\":\"0\"},\"universal_state\":{\"machine_state\":\"0\",\"output_state\":\"\",\"input_states\":\"65534\",\"overwritten_inputs\":\"0\"},\"message\":{\"type\":\"info\",\"content\":\"OK!\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 100,
        "wires": [
            [
                "c8552db64ba566ce"
            ]
        ]
    },
    {
        "id": "e80ea0cf40073c2e",
        "type": "ui_template",
        "z": "d7c4eb65c3cb8abd",
        "group": "e70ad8103cfa07e8",
        "name": "Molecule Machine",
        "order": 1,
        "width": 6,
        "height": 4,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.deviceName}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.universal_state.machine_state=='2' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.universal_state.machine_state=='2' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n<br>\n        {{msg.payload.id?msg.payload.id:'Unknown'}}\n        - {{msg.payload.time?msg.payload.time:'Unknown'}}\n<br>\n        {{msg.payload.universal_state.input_states?universal_state.input_states:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">&nbsp;</span>\n    </div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e70ad8103cfa07e8",
        "type": "ui_group",
        "name": "Molecule Machine",
        "tab": "7d66f574.b154cc",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]